Python/
results/

*/.ipynb_checkpoints/*
*/__pycache__/*
.DS_Store
*/.DS_Store
*.orig
*.pyc

resources/AutoPhrase
resources/AutoPhrase/*
resources/docker/data/*

data/raw/*
data

tools
tools/*
models/*
bin/*

*.h
*.cpp
