data/corpus.txt
data/EN/DBLP.txt
models/MyModel/
Python/
results/
tmp/

resources
resources/*
src
src/*
data
data/*
tools
tools/*
auto_phrase.sh

*/.ipynb_checkpoints/*
*/__pycache__/*
.DS_Store
*/.DS_Store

*.orig
*.pyc
