Python/
results/

*/.ipynb_checkpoints/*
*/__pycache__/*
.DS_Store
*/.DS_Store
*.orig
*.pyc
.ftpconfig
core.*

resources/AutoPhrase
resources/AutoPhrase/*
resources/docker/data/*
Makefile
run_phrasing.sh
phrasal_segmentation.sh

notebooks/final.ipynb

data/*

tools/*
models/*
bin/*
tmp
tmp/*


*.h
*.cpp
